a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
}
a:hover {
    opacity: 0.7;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}

/* コンテンツ幅の設定 */
.wrapper {
    flex-grow: 1;
    max-width: 1360px;
    margin: 0 auto;
}

/* 記事コンテンツ */
.product-list {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.link-text {
    display: block;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 200px;
  }

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 200px;
}
.pagination li {
    padding: 0 20px;
}

.page-title {
    margin-left: 40px;
    padding-top: 80px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  

@media screen and (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }
}